<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.SysRoleMapper">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id
        ,role_name,role_code,description,create_time,update_time,is_deleted
    </sql>

    <sql id="findPageWhere">
        <where>
            <if test="roleName != null and roleName!=''">
                and role_name like CONCAT('%', #{roleName}, '%')
            </if>
            and is_deleted=0
        </where>
    </sql>


    <!--    新增成员-->
    <insert id="saveSysRole">
        insert into sys_role (id, role_name, role_code, description)
        values (#{id}, #{roleName}, #{roleCode}, #{description})
    </insert>

    <!--    更新提交数据-->
    <update id="updateSysRole">
        update sys_role set
        <if test="roleName!=null and roleName !=''">role_name=#{roleName},</if>
        <if test="roleCode!=null and roleCode!=''">role_code=#{roleCode},</if>
        <if test="description !=null and description !=''">description=#{description},</if>
        update_time=now()
        where id =#{id}
    </update>

    <!--    修改数据 假删除 就是讲is_deleted 改为1-->
    <update id="deleteById">
        update sys_role
        set is_deleted=1
        where id = #{value}

    </update>

    <!--寻找实体类的相关信息    -->
    <select id="findByPage" resultType="com.atguigu.spzx.model.entity.system.SysRole">

        select
        <include refid="columns"/>
        from sys_role
        <include refid="findPageWhere"/>
        order by id desc
    </select>

    <!--    查询所有的角色 例如管理员等-->
    <select id="findAllroles" resultType="com.atguigu.spzx.model.entity.system.SysRole">
        select
        <include refid="columns"/>
        from sys_role where is_deleted=0

    </select>

</mapper>